body,
html {
  height: 100%;
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
}

.app-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.centered-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.app-title {
  color: #ff0000; /* Lighter red color */
  font-size: 72px;
  opacity: 0.1; /* Lighter appearance */
  margin: 20px 0;
}

.todo-container {
  width: 600px; /* Fixed width */
  height: auto; /* Flexible height, can be fixed */
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.input-and-toggle-container {
  display: flex;
  position: relative;
  align-items: center;
}

.toggle-all {
  background: none;
  border: none;
  cursor: pointer;
  color: #ccc;
  font-size: 22px;
  padding: 10px;
  margin-right: 5px; /* Ensure some space between button and input */
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc;
}

input[type="text"]::placeholder {
  color: #000000; /* Light gray color */
  opacity: 0.3; /* Very light visibility */
}

/* Styling for the list of tasks */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
}

.task-text {
  flex-grow: 1;
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

li.completed .task-text {
  text-decoration: line-through;
  color: #d9d9d9; /* This makes the text light gray and strikethrough */
}

.delete-task {
  flex-shrink: 0;
  display: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
  background: none;
  border: none;
}

li:hover .delete-task {
  display: block;
}

/* li:last-child {
  border-bottom: none;
} */

/* Styling for the footer */
footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 14px;
  color: #777;
}

/* Active state for filter buttons */
/* footer button.active {
  font-weight: bold;
  text-decoration: underline;
} */

/* Clear completed button */
.clear-completed {
  padding: 5px 10px;
  border: none;
  background-color: #fff; /* Red color for clear button */
  color: black;
  cursor: pointer;
  margin-left: auto; /* Pushes the button to the right */
}

.custom-checkbox {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  background-color: #fff; /* White background for the checkmark */
  border-radius: 50%;
  border: 1px solid #e0e0e0; /* Lighter grey border for a subtle look */
  transition: all 0.3s; /* Smooth transition for appearance changes */
}

.custom-checkbox:hover input ~ .checkmark {
  border-color: #ccc; /* Slightly darker on hover for better visibility */
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: #fff; /* Keep the background white */
  border-color: #a5d6a7; /* Light green border when checked */
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 8px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #66bb6a; /* Vivid green for the checkmark */
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block; /* Make the checkmark visible when the task is checked */
}

.filters button {
  padding: 5px 10px;
  border: 10px;
  background: none;
  cursor: pointer;
  color: #888;
}

footer > span {
  justify-self: start; /* Aligns the items left text to the start of its grid area */
}

.filters {
  justify-self: center; /* Centers the filter buttons in their grid area */
}

.completed {
  justify-self: end; /* Aligns the clear completed button to the end of its grid area */
}

.filters button:hover {
  text-decoration: underline;
}

.filters button.selected {
  border: 1px solid #ccc;
  border-radius: 5px; /* Optional, for rounded corners */
  background-color: #fff; /* Light gray background to highlight selection */
}
